# Python
venv/
__pycache__/
*.pyc
.env

# Unity
UAV-Swarm-Sim/Library/
UAV-Swarm-Sim/Temp/
UAV-Swarm-Sim/Logs/
UAV-Swarm-Sim/obj/
UAV-Swarm-Sim/*.sln
UAV-Swarm-Sim/*.userprefs
# Unity project folders to keep this repo focused on the simulator
My project/
UAV-Swarm/
UAV-Swarm-Swim/
# ROS / external subproject folders
ROS-TCP-Connector/
ROS-TCP-Endpoint/
ros2_ws/src/ROS-TCP-Endpoint/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
# Mac
.DS_Store