# Python
venv/
__pycache__/
*.pyc
.env

# Unity
UAV-Swarm-Sim/Library/
UAV-Swarm-Sim/Temp/
UAV-Swarm-Sim/Logs/
UAV-Swarm-Sim/obj/
UAV-Swarm-Sim/*.sln
UAV-Swarm-Sim/*.userprefs
# Unity project folders to keep this repo focused on the simulator
My project/
UAV-Swarm/
UAV-Swarm-Swim/
# Mac
.DS_Store